<router-outlet></router-outlet>

<!-- Diretivas de Atributo -->

<div class="container" 
    [ngStyle]="{ background: count < 5 ? 'red' : 'green' }"
>
    <h1 class=" text-center">Live angular diretivas</h1>
    <h3 class="text-center" [ngClass]="{ custom: count > 5 }"> Contador: {{ count }}</h3>
</div>

<!-- Diretivas Estruturais -->

<h2 class="text-center" *ngIf="count > 7; else menor">O contador passou de 7</h2>

<ng-template #menor> 
    <h2 class="text-center">O contador é menor que 7</h2>
</ng-template>

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li 
        class="list-group-item"
        *ngSwitchCase="3"
    >
    É IGUAL A 3
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="5"
    >
    É IGUAL A 5
    </li>
    <li 
        class="list-group-item"
        *ngSwitchCase="8"
    >
    É IGUAL A 8
    </li>
    <li 
        class="list-group-item"
        *ngSwitchDefault
    >
    ESSE É O DEFAULT
    </li>
</ul>

<ul class="list-group mx-auto col-3 mt-2">
    <li *ngFor="let pessoa of pessoas" class="list-group-item"> {{pessoa.nome}} {{pessoa.sobrenome}} </li>
</ul>

<!-- data binding -->
<div class="col-4 mx-auto mt-3">
    <h3 spaMarcaTexto corDeFundo="blue" corDoTexto="green">{{nome}}</h3>

    <input 
    type="text" class="form-control" 
    placeholder="Digite aqui..."
    [(ngModel)]="text"
    >
    <h4>Saída: {{ text }}</h4>
    <button class="btn btn-primary" (click)="clicou(text)">Clique</button>
</div>


